@media screen and (max-width:1400px) { /*当屏幕尺寸小于1336px时，应用下面的CSS样式*/
    .bresources {
        
        .el-date-editor{
            width: 100%!important;
            margin-left: 0!important;
        }
        .name{
            display: block!important;
            margin-bottom: 5px;   
        }
        .quren{
            width: 100%!important;
            .el-input{
                max-width:calc(100%-30px)!important;
            } 
        }
        
    }
    .resource {
        
        .el-date-editor{
            width: 100%!important;
            margin-left: 0!important;
        }
        .name{
            display: block!important;
            margin-bottom: 5px;   
        }
        .input{
            width: 100%!important;
            
        }
        
    }
    .parameters {
        
        .el-date-editor{
            width: 100%!important;
            margin-left: 0!important;
        }
        .name{
            display: block!important;
            margin-bottom: 5px;   
        }
        .input{
            width: 100%!important;
            
        }
        
    }
    .process {
        
        .el-date-editor{
            width: 100%!important;
            margin-left: 0!important;
        }
        .name{
            display: block!important;
            margin-bottom: 5px;   
        }
        .input{
            width: 100%!important;
            
        }
        
    }
}

