@media screen and (max-width:1400px) { /*当屏幕尺寸小于1336px时，应用下面的CSS样式*/
    .bresources .name{
        display: block!important;
        margin-bottom: 5px;
    }
}

@media screen and (max-width:1400px) { /*当屏幕尺寸小于1336px时，应用下面的CSS样式*/
    .resource .name {
   
    display: block!important;
    margin-bottom: 5px;
    }
}